<!DOCTYPE html>
@{
    ViewBag.Title = "ERROR";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Oops! Có lỗi xảy ra.</h1>
        <p>Trang bạn tìm kiếm không tồn tại hoặc đã xảy ra lỗi. Vui lòng thử lại sau.</p>
        <a href="/home/index" style="text-decoration: none; color: #007BFF;">Quay lại trang chủ</a>
    </div>
</body>
</html>